# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage

# production
frontend/dist/
backend/data/
*.db
*.log

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# local
deploy/
部署说明.txt
push_to_github.bat
初始化仓库并上传.bat
*.zip
*.tar.gz
